---
layout: default
---

<div class="container">

{% include lead.html %}

<p>
<h2>How to add a "job" posting</h2>
<br />
<ol>
    <li>Fork this repo</li>
    <li>Add a new post to _posts of your fork</li>
    <li>Submit pull request</li>
    <li>Wait for me...</li>
</ol>
<br />
</p>

  <!--
 TODO 
 Form to generate post markdown
   - should be a split window with the dropdowns and such on one side and the markdown on the other
  -->

{% include footer.html %}

</div><!-- /.container -->
</div>
